*{margin: 0}
body {background-color: white}
h1 {background-color: green; font-style: oblique;text-align:center; text-decoration: underline;;}
h2 {font-style: oblique; text-decoration:underline;}
.parrafo1 {color: black;font-size: 30px}
.parrafo2 {color: #330066;font-size: 20px}
.parrafo3 {color: #330066; font-size: 20px}
.lista:hover {font-size: 25px}
body {background-image: url(../fondo/cocinar.jpg); background-repeat: no-repeat; background-position: 50% 50%; background-attachment: fixed; margin: 0}
.parte1 {background-color: #EC7063}
.parte2 {background-color: #EC7063; font-size: 20px}
.parte3 {background-color: #EC7063}
.parte4 {background-color: #EC7063}
section {background-color: #EC7063 ; width: 48%; float: left; margin: 1%; border: 3px solid black; box-sizing: border-box;height: 1100px; overflow: auto;}
aside {background-color: #EC7063; width: 48%; float: left;margin: 1%; border: 3px solid black; box-sizing: border-box; height: auto;height: 1100px;overflow: auto;}
footer {clear: both; text-align: center;
  display: flex;
justify-content: space-around;}
header {border-radius: 3em}
.navegador {text-align: center}
.navegadores:hover {font-size: 20px}
.ingrediente1:hover {font-size: 20px}
.preparacion:hover {font-size: 20px}
.imagentaco:hover {
  width: 25rem;
  border-radius: 10rem;
  border: 5px solid black}
  .video {width: 25rem;
  display: flex;
justify-content: space-between;}
@media (max-width 650px){
  header {color:white}
}
@media (min-width 650px) {
 .imagentaco {display: none;}
}
@media (max-width 650px){
  section {color:white}
}
@media (min-width 600px){
.video {display: none;}  

}
